Source: openli-provisioner-web
Section: net
Priority: optional
Maintainer: Shane Alcock <shane@alcock.co.nz>
Build-Depends: debhelper-compat (= 12), dh-systemd (>=1.5)
Standards-Version: 4.1.3
Homepage: https://github.com/OpenLI-NZ/

Package: openli-provisioner-web
Section: net
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, redis-server,
                python3-venv, apache2, systemctl | systemd, sudo, curl,
                lsb-release, make
Description: A simple web-based UI for the OpenLI provisioning API.
 OpenLI is a software suite that allows network operators to conduct
 lawful interception of Internet traffic that is compliant with the
 ETSI Lawful Intercept standards.

