@media (max-width: 767px) {
    .sidenav {
        border-bottom: 1px solid var(--bs-gray-dark);
        box-shadow: 0px -8px 8px 8px var(--bs-gray);
    }
}

@media (min-width: 768px) {
    .sidenav {
        width: 350px;
        border-right: 1px solid var(--bs-gray-dark);
        box-shadow: -8px 0px 8px 8px var(--bs-gray);
    }

    .content {
        overflow: auto;
        height: 100%;
    }
}

.content {
    padding-top: 16px;
    padding-bottom: 16px;
    min-height: 100%;
}

.btn-row > .btn:not(:first-child) {
    margin-left: 0.25rem;
}

.form-group {
    margin-bottom: 0.5rem;
}

.api-form-collection {
    border: 1px solid lightgrey;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.info-tooltip-icon {
    margin-left: 0.75rem;
    margin-right: 0.25rem;
    size: medium;
}

.sidenav {
    padding-left: 0;
    padding-right: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--bs-dark);
}

.sidenav-header {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    border-bottom: var(--bs-gray-dark) 1px solid;
}

.sidenav-footer {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    border-top: var(--bs-gray-dark) 1px solid;
}

.sidenav > .nav {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.sidenav-header a {
    text-decoration: none;
    color: var(--bs-gray-100);
}

.nav a, .nav a:link, .nav a:visited, .nav .btn-link {
    text-decoration: none;
    color: var(--bs-gray-100);
}

.nav a:hover, .nav .btn-link:hover {
    color: white;
}

.nav .nav-link:hover, .nav .btn-link:hover {
    background-color: var(--bs-gray-800);
}

.nav .nav-link.active {
    background-color: #0d6efd;
    color: white;
}
